{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="border p-4 mb-5">
    <legend class="border-bottom pb-1 mb-3">تعديل الملف الشخصي</legend>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{user_update|crispy}}
        <div>
            <span class="mb-2" style="display: block">صورة الملف الشخصي *</span>
            الصورة الحالية: <a href="{{user.profile.image.url}}">{{user.profile.image.url}}</a>
            <br>
            <label for="image" class="btn btn-outline-primary mt-2">اختيار الصورة</label>
            <input type="file" name="image" id="image" accept="image/*" style="display: none">
        </div>
        <input class="btn btn-success mt-4" style="width:100%;" type="submit" value="حفظ التغييرات">
    </form>
</div>

{% endblock %}