@font-face{
    font-family: 'Tajawal';
    src: url('../fonts/Tajawal-Regular.ttf') format("truetype"),
    local('Tajawal');
}

body{
    font-family: 'Tajawal' sans-serif;
}

html,body{
    direction: rtl;
    text-align: right;
}


.bg-secondary{
    background-color: #212529 !important;
}

.text-color{
    color: white;
}
.comment{
    background-color: #f8f8f8;
    border: 1px dashed #CCC;
}
/* End Comment */

.btn-editing
{
    float: left;
}