{% load static %}

{% load post_tag %}

<!DOCTYPE html>
<html>
<head>

    <!-- Start Meta -->
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End Meta -->

    <!-- Start title -->
    {% if title %}
    <title> مدونة | {{title}} </title>
    {% else %}
        <title> مدونة </title>
    {% endif %}
    <!-- End title -->

    <!-- relation beetween html and css and images-->
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel='stylesheet' href='{% static "blog/css/main.css" %}'>
    <link rel="shortcut icon" href="{% static 'blog/images/favicon.ico'%}">
    <!-- End relation -->

    </head>
<body>
    <div>
      <!-- Start Header -->  
        <header>
        <!-- Start Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'blog:home' %}"> 
                <img src="{% static 'blog/images/mim-logo.png' %}" alt="شعار مدونة" width="30px">       مدونة 
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'blog:home' %}"> الرئيسية <span class="sr-only">(current)</span></a>
                </li> 
                
                <li class="nav-item active" style="margin-right:8px;">
                    <a class="nav-link" href="{% url 'blog:about' %}"> من انا </a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        معرفة المزيد
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item"
                            href="https://www.python.org/doc/">
                            بايثون</a>
                        <a class="dropdown-item"
                            href="https://docs.djangoproject.com/en/2.2/">
                            دجانجو</a>
                       
                    </div>
                </li>
 
              </ul>

              <ul class="navbar-nav mr-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'accounts:profile' %}">   الصفحة الشخصية </a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'blog:new_post' %}">  اضافة تدوينة جديدة </a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'accounts:logout' %}">   تسجيل الخروج </a> </li>
                    {% else %}
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'accounts:signup' %}"> تسجيل </a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="{% url 'accounts:login' %}">   تسجيل الدخول </a> </li>
                    {% endif %}    
              </ul> 

            </div>
          </nav>
        <!-- End Navbar -->
        </header>
    <!-- Start Header -->  

    <!-- Start Section -->  
        <section>
            <div class="container">
                <div class="row mt-4">
                    
                    <div class="col-md-8">
                        {% block content %}

                        {% endblock %}
                    </div>

                    <div class="col-md-4">

                        <div class="card mb-4">
                            <h3 class="text-center bg-secondary text-color p-2"> اخر التدوينات</h3>
                                {% latest_posts %}
                       </div>

                       <div class="card mb-4">
                            <h3 class="text-center bg-secondary text-color p-2"> اخر التعليقات</h3>
                            {% latest_comments %}
                      </div>

                    </div>

                </div>
            </div>
        </section>
     <!-- Start Section -->  

     <!-- Start Footer -->   
        <footer class="bg-secondary">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md">
                        <div class="card-group mt-3">
                            <div class="card m-3">
                                <h3 class="card-title text-center border-bottom p-2 m-3">من أنا</h3>
                                <div class="card-body">
                                    <div class="text-center">
                                        <a href="{% url 'blog:about' %}"><img src="{% static 'blog/images/mim-logo.png' %}" alt="شعار مدونة" width="100px"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="card m-3">
                                <h3 class="card-title text-center border-bottom p-2 m-3">مواقع هامة</h3>
                                <div class="card-body text-center">
                                    <ul style="display: inline-block; margin-left: 40px;">
                                        <li><a class="text-blue" style="font-weight: bold;" href="https://www.python.org/doc/">وثائق بايثون</a></li>
                                        <li><a class="text-success" style="font-weight: bold;" href="https://docs.djangoproject.com/en/2.2/">وثائق
                                                دجانجو</a></li>
                                        <li><a class="text-primary"  style="font-weight: bold;"href="https://developer.mozilla.org/">توثيق MDN</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card m-3">
                                <h3 class="card-title text-center border-bottom p-2 m-3">وسائل التواصل الاجتماعي</h3>
                                <h4 class="card-body text-center">
                                    <a class="text-blue" href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                                    <a class="text-blue" href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a class="text-danger" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                    <a class="text-danger" href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
                                    <a class="text-blue" href="https://www.telegram.com"><i class="fab fa-telegram"></i></a>
                                    <a class="text-warning" href="https://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md text-center">
                        <small class="text-light">&copy; جميع الحقوق محفوظة </small>
                    </div>
                </div>
            </div>
        </footer>
    <!-- End Footer -->       
    
    
    <!-- relation beetween html and javascript -->
    <script src="{% static 'blog/js/jquery-3.5.1.slim.min.js' %}"></script>
    <script src="{% static 'blog/js/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/fontawesome-all.min.js' %}"></script>
    <!-- End relation -->

 </div>
</body>
</html>